  body {
    font-family: 'Open Sans';
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    color: #3484ed;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .header h3 {
    color: #797d83;
    font-weight: lighter;
  }
  
  .home-button {
    display: flex;
    justify-content: center;
  }
  
  .home-button a {
    background-color: #3484ed;
    border: 2px solid #3484ed;
    color: white;
    font-size: 16px;
    padding: 18px 75px;
    margin: 30px 60px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    }
  
  .home-button a:hover {
    transform: scale(1.5); 
    transition: transform 0.5s ease; 
  }
  
  
  .header {
    text-align: center;
  }

  .header h1 {
    color: #3484ed;
    font-weight: bold;
    font-size: 2.3rem;
    padding: 1rem;
  }
  
  .header h3 {
    color: #797d83;
    font-size: 1.5rem;
  }

  .home-button a:focus {
    background-color: #3484ed;
    color: white;
  }
  