.shanti-regular {
    font-family: "Shanti", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav a {
    background-color: #3484ed;
    color: #000;
    font-weight: bold;
    padding: 15px 5px;
    position: absolute;
    top: -100px;
    text-decoration: none;
  }
  
  .nav a:focus {
    outline: 5px solid #FFF;
    top: 0;
  }
  
  body {
    font-family: 'Open Sans';
  }
  
  .header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .header h1 {
    color: #3484ed;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .header h3 {
    color: #848c9a;
    font-weight: lighter;
  }
  
  .cta-button {
    display: flex;
    justify-content: center;
  }
  
  .cta-button a {
    background-color: #3484ed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 60px;
    font-weight: bold;
    border-radius: 7px;
  }
  
  .cta-button a:hover {
    transform: scale(1.5); 
    transition: transform 0.5s ease; 
  }
  
  
  @keyframes hithere {
    30% {
      transform: scale(1.2);
    }
    40%, 60% {
      transform: rotate(-20deg) scale(1.2);
    }
    50% {
      transform: rotate(20deg) scale(1.2);
    }
    70% {
      transform: rotate(0deg) scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .cta-button a:focus {
    background-color: #3484ed;
    color: black;
    font-weight: bold;
    outline: 3px solid black;
  }
  
  @media only screen and (min-width: 720px) {
    #main-content {
      display: flex;
      flex-direction: column;
    }
  
    #main-content div:nth-child(2) {
      order: 1;
    }
  
    #main-content div:nth-child(1) {
      order: 2;
    }
  
    .header {
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 0rem;
    }
  
    .header h1 {
      color: #3484ed;
      font-weight: bold;
      font-size: 2.5rem;
      padding: 0.5rem;
    }
    
    .header h3 {
      color: #9098a5;
      font-weight: lighter;
      font-size: 1.5rem;
    }
  }
  