/* Setting font family for the whole document */
body {
    font-family: 'Open Sans';
}

/* Styling for the main header title */
.header-text h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Styling for the header slogan */
.header-text h3 {
    color: #797d83;
    padding-bottom: 1rem;
    font-size: small;
}

/* Styling for the back arrow icon */
.backarrow h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Styling for the input fields in the login form */
.login-fields input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: 94%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

/* Styling for the labels in the login form */
.login-fields h4 {
    color: #797d83;
    margin-bottom: 1rem;
    font-size: small;
}

/* Styling for the show/hide password toggle icon */
.password-input .fa-eye {
    top: 50%;
    right: 5px;
    cursor: pointer;
}

/* Styling for the password options */
.password-radio {
    display: flex;
}

/* Styling for the remember password option */
.radio1 {
    flex-grow: 1;
}

/* Styling for the forgot password link */
.radio2 {
    text-align: right;
}

/* Centering the login button */
.login-button {
    display: flex;
    justify-content: center;
}

/* Styling for the login button */
.login-button a {
    background-color: #3484ed;
    border: 2px solid #3484ed;
    color: white;
    font-size: 16px;
    padding: 18px 75px;
    margin: 30px 62px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

/* Hover effect for the login button */
.login-button a:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease;
}

/* Styling for the focused state of input fields */
form input:focus {
    background-color: #0d65d8;
    font-weight: bold;
}

/* Styling for the focused state of the login button */
form button:focus {
    background-color: #0d65d8;
    font-weight: bold;
}

/* Media query for screens wider than 720px */
@media only screen and (min-width: 720px) {
    body {
        width: 100%;
        justify-content: center;
        display: grid;
    }
}
